@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Radio Canada', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #0f1763 !important;
}
.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
  justify-content: center;
}

.navbar-nav{
  margin-left: auto !important;
 
}
#myButton1{
  background-color:#f7747d;


  border:none;
  border-radius: 40px ;
  font-size: 12px; 
  padding: 5px 15px;
  text-align: center
}

.smallimg{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px ;
  height: 200px;
  width: 100% !important;

}
.room_btn{
  background-color: #0f1763 !important;
  color: white !important;
  box-shadow: none !important;
  border:none;
  margin-bottom: 10px !important;
  margin-left: 10px;
  border-radius: 40px ;
  font-size: 20px; 
  padding: 5px 15px;
  text-align: center;
} 

.cleaning_btn{
  background-color: #0f1763 !important;
  color: white !important;
  box-shadow: none !important;
  border:none;
  border-radius: 40px ;
  font-size: 12px; 
  padding: 5px 15px;
  text-align: center;
} 
.room_btn2{
  background-color: #0f1763 !important;
  color: white !important;
  box-shadow: none !important;
  border:none;
  margin-bottom: 0px !important;
  margin-left: 10px;
  border-radius: 40px ;
  font-size: 15px; 
  padding: 5px 15px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 23%;
  right: 25%;
} 

.row{
  margin-left: auto !important;
  border-radius: 50px ;  
}

h1{
  text-align: center;
  font-size: 30px ;
  font-weight: bold !important;
}
.new-room-input{
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid #0f1763 !important;
  border-radius: 3px;
  width: 100%;
  height: 20%;
  font-weight: bold;
  margin-bottom: 5px !important;
}
input, select, .ant-picker{
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid #0f1763 !important;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  margin-bottom: 5px !important;
}

.fullsizeimg{
  height: 600px;
  width: 100%;
  border-radius: 30px !important;
}
p{
  font-size: 20px !important;
}
.p_home{
  font-size: 20px !important;
}
.bx_shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: 30px;
  padding: 15px;
}

.modal-content  {
  border-radius: 50px; 
  padding: 10px;
}

.ant-picker-input input{
  border: none !important;
}
.col-md-4{
  text-align: center;
}

.outer-div {
  width: 100%;
  text-align: center;
}
.outer-div2 {
  width: 56%;
  text-align: right;
  margin-left: 200px;
}
.inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  width: 50%;
  text-align: left !important;
}
.inner-div2 {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  width: 50%;
  text-align: center !important;
}
.additional-opitons{
 margin-bottom: 25px;
}
td, tr {
  text-align: center !important;
  vertical-align: middle;
}