@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Radio Canada', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #0f1763 !important;
}
.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
  justify-content: center;
}

.navbar-nav{
  margin-left: auto !important;
 
}

.smallimg{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px ;
  height: 200px;
  width: 100% !important;

}
.room_btn{
  background-color: #0f1763 !important;
  color: white !important;
  box-shadow: none !important;
  border:none;
  margin-bottom: 10px !important;
  border-radius: 40px ;
  font-size: 20px; 
  padding: 5px 15px;
} 

.row{
  margin-left: auto !important;
  border-radius: 50px ;  
}

h1{
  text-align: center;
  font-size: 30px ;
  font-weight: bold !important;
}

input{
  margin-bottom: 15px;
  border: 1px solid #0f1763 !important;
}

.fullsizeimg{
  height: 600px;
  width: 100%;
  border-radius: 30px !important;
}

.bx_shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: 30px;
  padding: 15px;
}

.modal-content  {
  border-radius: 50px; 
  padding: 10px;
}